* {
    margin: 0;
    padding: 0;
}

.footer {
    height: 150px;
    background-color: #FFFFFF;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}